@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,200,300,500,700,600);
body {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 13px;
  margin: 10px;

}
.fragment {
  width:99%;
}
.title {
  font-weight: bold;
  font-variant-caps: none;
  font-size: 30px;
  padding-top: 20px;
}
.subtitle {
  font-weight: normal;
  color: gray;
  padding-top:10px;
  font-size: 15px;
}
hr {
  margin-top: 10px;
  margin-bottom: 25px;
}
.pt {
  font-weight:bold;
  font-size: 18px;
  color: gray;
}
a {
  text-decoration: none;
  color:#fff;
}
footer {
  font-family: "Open Sans", "Helvetica", sans-serif;
  font-size: 12px;
  text-align: center;
    background-blend-mode: darken;
}
.footer{
  margin-bottom:10px;
  margin-top:25px;
}
red {
  color:darkred;
}
h2 {
  color: #3db5ff;
}
.grey {
  color:gray;
}
.pot {
  background-color: #444;
  color: white;
  margin-left:5px;
  margin-right:5px;
  padding:10px;
  border: 20px;
  font-size: 15px;
}
.wpfb-header {
  height: 90px;
  background-color: #3db5ff;
  margin-left:20px;
  margin-right: 20px;
  padding-top:20px;
  font-family: "Open Sans",sans-serif;
}
.main-body {
  background-color: #ddd;
  margin-left:20px;
  margin-right: 20px;
  margin-top:20px;
  padding: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
}
.main-body-quickjump {
  background-color: darkred;
  color: #fff;
  margin-left:20px;
  margin-right: 20px;
  margin-top:10px;
  padding: 10px;
  padding-left: 20px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
}
.code {
  padding: 10px;
  border-radius: 10px;
  color:#000;
  background-color: #3db5ff;
  font-family:"Source Code Pro", monospace;
}
.inline-code {
  padding: 2px;
  border-radius: 5px;
  color:#000;
  background-color: #3db5ff;
  font-family:"Source Code Pro", monospace;
}
footer .indent {
  margin-left: 21%;
  text-align: center;
  text-align-last: center;
}\
footer a {
  color: #ddd;
}
footer {
  color: #000;
}
