body {
  background-color: #fff;
  font-family: "Helvetica", "Helvetica", sans-serif;
  font-size: 13px;
  margin: 10px;
}
.title {
  font-weight: bold;
  font-variant-caps: none;
  font-size: 30px;
  padding-top: 20px;
}
.subtitle {
  font-weight: normal;
  color: gray;
  padding-top:10px;
  font-size: 15px;
}
hr {
  margin-top: 10px;
  margin-bottom: 25px;
}
.pt {
  font-weight:bold;
  font-size: 18px;
  color: gray;
}
a {
  color: #fff;
  text-decoration: none;
}
footer {
  background-color: #fff;
  font-family: "Helvetica", "Helvetica", sans-serif;
  font-size: 12px;
  text-align: center;
}
.footer{
  margin-bottom:10px;
  margin-top:25px;
}
.grey {
  color:gray;
}
